[Unit]
Description=Gunicorn instance to serve staging.gotunda.com
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/staging.gotunda.com/backend
ExecStart=/var/www/staging.gotunda.com/backend/venv/bin/python /var/www/staging.gotunda.com/backend/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/var/www/staging.gotunda.com/backend/gotunda-staging.sock \
          tunda.wsgi:application

EnvironmentFile=/etc/gunicorn/staging.env

Environment="PATH=/var/www/staging.gotunda.com/backend/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Restart=on-failure

[Install]
WantedBy=multi-user.target
